:root {
    scroll-behavior: smooth;
    --regularSize: max(2vw, 2vh);
    --bigSize : max(3vw, 3vh);
}

* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--regularSize);
    font-weight: 500;
    text-align: center;
}

::selection {
    background-color: rgb(127, 229, 255);
    color: white;
}
::-webkit-scrollbar {width: 0.7vw; height: 0.8vw; }
::-webkit-scrollbar-track {background-color: rgb(151, 151, 151); border-radius: 5px;}
::-webkit-scrollbar-thumb {background-color: rgb(21, 98, 197); border-radius: 50px;} /*rgb(31, 124, 245)*/

body {
    background-color: rgb(228, 235, 245);
    overflow-x: hidden;
}

header {
    background-color: rgb(66, 15, 100);
    color: rgb(209, 223, 238);
    display: flex;
    padding: 5%;
    align-items: center;
    position: fixed;
    top: 0;
    min-height: 100vh;
    transition: min-height 4s ease-in-out;
    z-index: 5;
}
.retract {position: relative; min-height: 15vh; z-index: 1;}

header  h1 {
    font-size: var(--bigSize);
}
header  img {
    width: 50%;
    border-radius: 10px;
    margin: 0px 10px;
}
header span {
    background-color: beige;
    color: rgb(66, 15, 100);
    display: inline-block;
    margin: 2%;
    padding: 2%;
    border-radius: 7px;
    cursor: pointer;
}

main {min-height: 80vh;}
footer {min-height: 8vh; background-color: black;}
footer > a, footer > a:visited {color: white; line-height: 8vh;} 

aside {
    cursor: pointer;
    user-select: none;
    position: fixed;
    bottom: 5vh;
    right: 2px;
    width: min(18vw, 160px);
    height: min(18vw, 160px);
    line-height: min(18vw, 160px);
    font-size: var(--bigSize);
    background-color: rgb(66, 15, 100);
    color: white;
    border-radius: 50%;
    z-index: 1;
}
.options {
    position: absolute;
    bottom: 50%;
    right: -33vw;
    background-color: rgba(27, 26, 26, 0.74);
    width: 30vw;
    transition: all 0.3s;
}
.show {
    right: 2vw;
    bottom: 100%;
    z-index: 2;
}

.options div {
    max-height: 10vh;
    line-height: 10vh;
}
.options div:hover {
    cursor: pointer;
    background-color: rgba(27, 26, 26, 0.89);
}

main > section {
    min-height: 30vh;
    margin: 1%;
}
main > section > h2 {font-size: max(2.2vw, 2.2vh)}
main > section > h2 > sup {
    font-size: max(1.2vw, 1.2vh); 
    color: rgba(69, 69, 226, 0.753);
    float: left;
}

main > section  > .container{ /*representing every section container (lists, notes, reminders)*/
    overflow-x: auto;
    display:flex;
    flex-flow: row nowrap;
}
.container > div { /*represnting every card*/
    position: relative;
    min-width: max(27vw, 166px);
    min-height: 20vh;
    padding: 1%; 
    margin: 2%; 
    border-radius: 10px;
    animation: fadeInRight 1s;
}

.container > div > *:focus {outline: none;}

.container > div > h2 {margin-bottom: 4%;}
.container > div > p {margin: 3% 0px; padding: 2%;}
.container > div > button {position: absolute; bottom: 1px;}

.note {background-color: rgb(255, 200, 129); color: black;}
.reminder {background-color: rgb(215, 236, 181); color: black;}
.passed {background-color: rgb(177, 190, 154); color: black;}
.listCard {background-color: rgb(129, 137, 255); color: white;}

.title {font-weight: 'bold'}

.listCard ul {
    list-style-type: none; 
    padding:0; 
    margin:0
}
.listCard li {text-align: left;}
.listCard [type='checkbox'] {margin: 1%;}

.item-form {
    position: fixed;
    top: 0;
    background-color: rgba(46, 38, 46, 0.705);
    width: 100%;
    height: 100%;
    z-index: 4;
    padding: 5% 1%;
}
.item-form > .exit {
    cursor: pointer;
    color:brown; 
    font-size: var(--bigSize);
    font-weight: 800;
    position: absolute;
    top: 0;
    right: 5%;
}
.item-form > form {
    width: max(280px, 50%);
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}
.item-form > form > * {display: block; margin: 2%; padding: 2%;}
.item-form > form > *:focus {outline: none;}
.item-form > form > textarea {min-height: 40vh; width: 85%;}
.item-form [type="submit"] {
    background-color: rgb(66, 15, 100); 
    color: white;
    border-radius: 10px;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-20px);
    }
}